/**
* @name ClearVision3 (Rotten) Orange
* @version Auto Update
* @description Edited by Rotten
* @author Rotten
* @invite dHaSxn3
* @Source https://github.com/ClearVision/ClearVision-v6
* @website https://betterdiscord.app/theme/ClearVision
* @Import https://clearvision.github.io/ClearVision-v6/main.css
*/
@import url("https://clearvision.github.io/ClearVision-v6/main.css");
:root {
/* ACCENT COLORS */
--main-color: #ff831e;
--hover-color: #ff831e;
--success-color: #ff831e;
--danger-color: #ff831e;
--url-color: #ff831e;

/* STATUS COLORS */
--online-color: #43b581;
--idle-color: #faa61a;
--dnd-color: #982929;
--streamig-color: #ff831e;
--offline-color: #808080;

/* GENERAL */
--main-font: 'Merienda';
--code-font: 'Consolas';
--text-normal: #dcdddeff;
--text-muted: #72767dff;
--channels-width: 220px;
--members-width: 240px;

/* HOME BUTTON ICON */
--home-icon: url(https://clearvision.github.io/icons/discord.svg); /* home button icon (link must be HTTPS) [default: url(https://clearvision.github.io/icons/discord.svg)]*/
--home-position: center; /* home button icon position [default: center] */
--home-size: 40px; /* home button icon size [default: 40px] */

/* APP BACKGROUND */
--background-overlay: #00000099;
--background-shading: 100%;
--background-image: url('https://i.imgur.com/yg3ztwU.jpeg'); 
--background-position: center; /* app background position [default: center] */
--background-size: cover; /* app background size [default: cover] */
--background-repeat: no-repeat; /* app background repeat [default: no-repeat] */
--background-attachment: fixed; /* app background attachment [default: fixed] */
--background-brightness: 100%; /* app background brightness (< 100% for darken, > 100% for lighten) [default: 100%] */
--background-contrast: 100%; /* app background contrast [default: 100%] */
--background-saturation: 100%; /* app background saturation [default: 100%] */
--background-invert: 0%; /* app background invert (0 - 100%)  [default: 0%] */
--background-grayscale: 0%; /* app background grayscale ( 0 - 100%) [default: 0%] */
--background-sepia: 0%; /* app background sepia (0 - 100%) [default: 0%] */
--background-blur: 0px; /* app background blur [default: 0px] */

/* USER POPOUT BACKGROUND */
--user-popout-image: var(--background-image); /* app background image (link must be HTTPS) [default: var(--background-image)] */
--user-popout-position: var(--background-position); /* user popout background position [default: var(--background-position)] */
--user-popout-size: var(--background-size); /* user popout background size [default: var(--background-size)] */
--user-popout-repeat: var(--background-repeat); /* user popout background repeat [default: var(--background-repeat)] */
--user-popout-attachment: var(--background-attachment); /* user popout background attachment [default: var(--background-attachment)] */
--user-popout-brightness: var(--background-brightness); /* user popout background brightness (< 100% for darken, > 100% for lighten) [default: var(--background-brightness)] */
--user-popout-contrast: var(--background-contrast); /* user popout background contrast [default: var(--background-contrast)] */
--user-popout-saturation: var(--background-saturation); /* user popout background saturation [default: var(--background-saturation)] */
--user-popout-invert: var(--background-invert); /* user popout background invert (0 - 100%) [default: var(--background-invert)] */
--user-popout-grayscale: var(--background-grayscale); /* user popout background grayscale (0 - 100%) [default: var(--background-grayscale)] */
--user-popout-sepia: var(--background-sepia); /* user popout background sepia (0 - 100%) [default: var(--background-sepia)] */
--user-popout-blur: calc(var(--background-blur) + 3px); /* user popout background blur [default: calc(var(--background-blur) + 3px)] */
--user-popout-overlay: rgba(0, 0, 0, 0.6); /* user popout overlay color [default: rgba(0, 0, 0, .6)] */

/* USER MODAL BACKGROUND */
--user-modal-image: var(--background-image); /* app background image (link must be HTTPS) [default: var(--background-image)] */
--user-modal-position: var(--background-position); /* user modal background position [default: var(--background-position)] */
--user-modal-size: var(--background-size); /* user modal background size [default: var(--background-size)] */
--user-modal-repeat: var(--background-repeat); /* user modal background repeat [default: var(--background-repeat)] */
--user-modal-attachment: var(--background-attachment); /* user modal background attachment [default: var(--background-attachment)] */
--user-modal-brightness: var(--background-brightness); /* user modal background brightness (< 100% for darken, > 100% for lighten) [default: var(--background-brightness)] */
--user-modal-contrast: var(--background-contrast); /* user modal background contrast [default: var(--background-contrast)] */
--user-modal-saturation: var(--background-saturation); /* user modal background saturation [default: var(--background-saturation)] */
--user-modal-invert: var(--background-invert); /* user modal background invert (0 - 100%) [default: var(--background-invert)] */
--user-modal-grayscale: var(--background-grayscale); /* user modal background grayscale (0 - 100%) [default: var(--background-grayscale)] */
--user-modal-sepia: var(--background-sepia); /* user modal background sepia (0 - 100%) [default: var(--background-sepia)] */
--user-modal-blur: calc(var(--background-blur) + 3px); /* user modal background blur [default: calc(var(--background-blur) + 3px)] */

/* THEME BD COLORS */
--bd-blue: #2780e6;
--bd-blue-hover: #1e63b3;
--bd-blue-active: #1e63b3;

/**Background images... 
//1. https://i.imgur.com/d3oxg98.jpg Anime Swan
//2. https://i.imgur.com/7SbtKvw.png Dark Space
//3. https://i.imgur.com/kbwbRoV.jpg Anime Stars
//4. https://i.imgur.com/vOGtXNf.jpeg Oranage
//5. https://i.imgur.com/y0ZrobC.png Winter fairy lights
*/
}